body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    animation-name: minhaani;
    animation-duration: 10s;
}

@keyframes minhaani {
    0% {
        transform: rotate(0deg);
        background-color: #3498db;
    }
    25% {
        transform: rotate(90deg);
        background-color: #e74c3c;
    }
    50% {
        transform: rotate(180deg);
        background-color: #2ecc71;
    }
    75% {
        transform: rotate(270deg);
        background-color: #f1c40f;
    }
    100% {
        transform: rotate(360deg);
        background-color: #3498db;
    }
}
