.pessoa {
    color: red;
    list-style-type: disc;
    margin-bottom: 10px;
}

.pessoa[data-idade='30'] {
    color: blue;
}

.pessoa::before {
    content: 'Nome: ' attr(data-nome) ' - Idade: ' attr(data-idade) ' Anos - C.P.F: ' attr(data-cpf);
    color: inherit;
}
